
    :root {
      --primary-color: #6366f1;
      --secondary-color: #f43f5e;
      --bg-light: #f9fafb;
      --Lighttext-color: #000000;
      --darktext-color: white;
      --card-bg: #f3eded;
      --shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      --radius: 12px;
      --font-main: 'Poppins', sans-serif;
      --hoverbg: #555;
      --pSize: 0.9rem;
      --border: 2px dotted white;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      color:white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      transition: all 0.3s ease;
    }

    .container {
      background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
      padding: 30px;
      border-radius: var(--radius);
      box-shadow:0px 0px 20px black  inset;
      text-align: center;
      transition: all 0.3s ease;
      height: auto;
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input {
      padding: 10px;
      width: 250px;
      margin: 20px 10px 10px 0;
      border: 1px solid #aaa;
      border-radius: 6px;
    }

    button {
      padding: 10px 20px;
      background: var(--secondary-color);
      border: var(--border);
      color: white;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s ease;
      margin-top: 10px;
    }

    button:hover {
      background: var(--hoverbg);
    }

    #qr-code {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    @media screen and (max-width: 700px) {
      html {
        padding: 0;
        background: white;
      }

      body {
        padding: 2rem 0.5rem;
      }

      .container {
        min-height:100vh;
        max-width: 500px;
        width: 100%;
        padding: 10px;
      }

      input {
        padding: 10px 10%;
        width: 60%;
        margin: 20px 10%;
        border: 1px solid #aaa;
        border-radius: 0;
        display: block;
      }

      button {
        width: 80%;
        margin: 10px auto;
        display: block;
      }

      #qr-code {
        margin-top: 20px;
        margin-left: 14%;
        height: auto;
      }
    }
